@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/snow_weathers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    margin: 0;
    /* position: fixed; */
    color: white;
    overflow: hidden;
}

.pad_top_40px{
    padding-top: 40px;
}
.pad_top_30px{
    padding-top: 20px;
}

.container{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    overflow-y: scroll;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
    padding: 20px 60px;
    backdrop-filter: blur(19px);
    background-color: rgba(255, 255, 255, 0.04);
    border-left: 5px solid rgba(255, 255, 255, 0.14);
    box-sizing: border-box;
    height: 100%;
    /* z-index: -100; */
    overflow-y: scroll;
    overflow-x: hidden;
}


.grid{
    top: 10%;
    left: 20%;
}

#map { 
    width: 500px;
    height: 300px; 
    border-radius: 10px;
}

.leaflet-control-attribution {
    display: none;
}


.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background: none;
    border: none;
    box-shadow: none;
}

.leaflet-control-zoom-in:before, .leaflet-control-zoom-out:before {
display: none;
}

.place_box{
    /* position: absolute; */
    /* padding: 63% 10% 0 10%;
    left: 10%;  */
    /* width: auto;
    height: auto; */
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.f_Like{
    text-align: center;
}
.temp{
    font-size: 143px;
    /* letter-spacing: 0.10em; */
    font-weight: 100;
}
.head_h1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
#initial-place{
    font-size: 66px;
    width: 227px;
    height: 72px;
}
#currentDay{
    font-size: 20px;
}
#main-icon{
    width: 60px;
    height: 60px;
} 

.search{
    padding: 10px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


.search input{
    border: 0;
    outline: 0;
    background: transparent;
    color: #ffffff;
    padding: 10px;
    height: 60px;
    /* border-radius: 0 30px 30px 0; */
    border-bottom: 2px solid white;
    flex: 1;
    font-size: 18px;
    
}

.search input::placeholder{
    color: #ffffff;
}

.search button{
    margin: auto;
    padding: 22px;
    border: 0;
    outline: 0;
    color: #ffffff;
    background: transparent;
    border-bottom: 2px solid white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}
.des{
    font-weight: 500;  
}
.line{
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: white;
}
.info, .info div, .sun div, .sun, .sun div div:nth-child(2), .box-container, .box-container .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info div{
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
}
.info div div {
    justify-content: flex-end;
    gap : 20px;
}
div img{
    width: 30px;
    height: 30px;
}
.sun div img{
    width: 50px;
    height: 50px;
}
.sun, .sun div{
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.sun div div:nth-child(2){
    padding-left: 20px;
}
.box-container{
    justify-content: start;
    flex-direction: row;
    padding: 30px 0;
    gap: 40px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}
.box-container .col{
    justify-content: start;
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    width: 67px !important;
    border: 2px solid rgba(255, 255, 255, 0.14);
    padding: 10px;
    border-radius: 15px;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    /* white-space: nowrap; */

}

.box-container .col div{
    padding: 5px 0;
    /* scroll-snap-align: start;
    sc
    roll-snap-stop: normal; */
}
.dailyForecast{
    text-align: center;
}
.weatherDetails, .h3_dw{
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 28px;    }



@media only screen and (max-width: 740px) {
    body{
        height: 100vh;
        overflow-y: auto;
    }
    .container{
        flex-direction: column;
                overflow-y: auto;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        padding: 10px 20px;
        backdrop-filter: blur(0px);
        background-color: transparent;
        border-left: 0px solid transparent;
        box-sizing: border-box;
        height: 100%;
        overflow-x: hidden;
    }
    .place_box{
        width: 100%;
        justify-content: center;
        flex-direction: inherit;
        padding: 10px 20px;
    }

    .pad_top_40px{
        padding-top: 10px;
    }
    .pad_top_30px{
        padding-top: 10px;
    }
    .heading{
        text-align: center;
        padding: 20px 0px 20px 0;
        text-align: center;
    }

    .f_Like{
        font-size: small;
    }
   .box-container{
        flex-direction: row;
        padding: 0px 0;
        justify-content: start;
    }
    .box-container .col{
    justify-content: start;}
    .temp{
        font-size:80px;
        font-weight: 300;
    }
    .head_h1{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    #initial-place{
        font-size: 30px;
        text-transform: capitalize;
        width: 227px;
        height: 72px;
    }
    #currentDay{
        font-size: 12px;
    }
    #main-icon{
        width: 70px;
        height: 70px;
    }
    .weatherDetails{
        text-align: center;
        padding:  0px 0 20px 0;
        font-weight: 500;
        font-size: 30px;
    }
    .grid, #map{
        display: none;
    }

}