

*{
    margin: 0;
    padding: 0;
    font-family : 'Montserrat', sans-serif;
    box-sizing: border-box;

}

body{
    background: #222;
}
body i{
    font-size: 24px;
}

.card{
    
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-width: 1140px;
    background: linear-gradient(135deg,  #060047, #B3005E);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding-inline-start: 40px 35px;
    text-align: center;
}

.search{
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    margin: auto;
    padding: 22px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.details{
    margin: 1rem;
    padding: 1rem ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.inside-details{
    display: flex;
    align-items: center;
    justify-content: center;

}

.col{    
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-temp{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.temprature img, .temprature p{
    margin: 1rem;
    padding: 1rem;
}
.temprature p{
    padding-bottom: 2rem;
}

#map { 
    width: 500px;
    height: 300px; 
}

.leaflet-control-attribution {
    display: none;
}


.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background: none;
    border: none;
    box-shadow: none;
  }
  
  .leaflet-control-zoom-in:before, .leaflet-control-zoom-out:before {
    display: none;
  }
 

.outer-weather-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Daily-forecast{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    max-width: 1140px;
       
  }
    
  .Daily-forecast .heading{
    background: #222;
    opacity: 0.9;
    margin: 1rem;
    padding: 1rem 4rem;
    border: 1px solid #222;
    border-radius: 15px;
  }

  .Daily-forecast .heading h3{
    word-spacing: 0.5rem;
    letter-spacing: 0.5rem;
  }

  .daily-forecast-container{
    width: 100%;
  }
   .Daily-forecast .col{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .col .inside-col{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


@media screen and (max-width: 740px) {
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        margin-top: 50px;
        margin-left: 0;
    }

    .search input{        
        padding: 25px  0 25px 25px;
        height: 40px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 18px;
    }
    .search button{
        margin: auto;
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;
    }
    .search button img{
        position: absolute;
        top: 10px;
        left: 10px;
        margin-right: 0;
    }
    .main-temp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

     
    #map {
        border: 1px solid black;
        height: 200px; 
        width: 300px;}
        
    .outer-weather-container {
        width: 100%;
      }
        
   
    .Daily-forecast .heading{
        width: 90%;
    }
           

          
           
       
          
}
